.sign-in-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-clr-900);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 .5rem 2rem rgba(31, 38, 135, 0.37);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

.sign-in-button:where(:hover, :focus-visible) {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(31, 38, 135, 0.45);
}

.sign-in-button:active {
    transform: scale(0.98);
    box-shadow: 0 6px 18px rgba(31, 38, 135, 0.3);
}