.scrollToTop {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    z-index: 1000;
}

.scrollButton {
    background-color: var(--secondary-clr-purple);
    border: none;
    border-radius: 50%;
    padding: .4rem;
    color: var(--accent-clr-100);
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
}

.scrollButton.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.scrollButton.show:where(:hover, :focus-visible) {
    background-color: hsl(from var(--secondary-clr-purple) h s 65%);
    color: var(--accent-clr-900);
    transform: scale(1.1) rotate(-5deg);
    box-shadow: 0 0 10px rgba(123, 31, 152, 0.7);
}