.newsletter-container {
    width: 100%;
    padding: 20px;
}

.newsletter-inner {
    display: flex;
    align-items: center;
    background-color: var(--accent-clr-100);
    padding: 2rem;
    border-radius: 1rem;
    color: #4b5563;
    @media (width < 850px){
        flex-direction: column;;
    }
}

.newsletter-left {
    margin-bottom: 1.5rem;
    text-align: center;
    
}

.newsletter-heading {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: .35rem;
    font-weight: 800;
    color: var(--accent-clr-900);
}

.newsletter-subheading {
    font-size: 1.125rem;
}

.newsletter-right {
    width: 100%;
}

.newsletter-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    width: 50%;
    height: 3rem;
    padding: .7rem;
    border: 1px solid hsl(from var(--accent-clr-100) h s 70% );
    border-radius: .5rem;
    font-size: 1rem;
    color: #1f2937;
}

.newsletter-button {
    cursor: pointer;
    width: 25%;
    height: 3rem;
    background-color: var(--secondary-clr-purple);
    color: var(--primary-clr-100);
    border-radius: .5rem;
    border: transparent;
    font-size: 1rem;
    transition: .3s ease-in-out;
}

.newsletter-button:where(:hover, :focus-visible) {
    outline: transparent;
    background-color: hsl(from var(--secondary-clr-purple) h 60% 35%);
    border-radius: 2rem;
}

.newsletter-policy {
    margin-top: .75rem;
    font-size: 0.875rem;
    text-align: center;
}

.newsletter-link {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: .15rem;
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.newsletter-link:where(:hover, :focus-visible) {
    color: var(--accent-clr-100);
    background-color: var(--accent-clr-900);
}
    @media (width < 560px){
        .newsletter-input{
            width: 100%;
        }
        .newsletter-form{
            flex-direction: column;
        }
        .newsletter-button{
            width: 100%;
        }
    }