.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login--container {
    background-color: white;
    padding: 40px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form--title {
    display: block;
    font-size: 32px; /* Increased font size */
    margin-bottom: 30px; /* Increased margin */
}

.login-form--info--container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form--input {
    margin-bottom: 15px; /* Increased margin */
    padding: 15px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px; /* Increased font size */
}

.login-form--button {
    margin-top: 30px; /* Increased margin */
    padding: 15px 30px; /* Increased padding */
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.login-form--button:hover {
    background-color: white;
    color: #000;
}
.login-form--text{
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
}
.signup--link{
    margin-top: 3px;
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
}
.signup--link:hover {
    font-weight: bold; /* Change font weight to bold */
    transition: ease-in-out 0.3s;
    color: inherit; /* Change color to red */
    font-size: 14px; /* Increase font size */
}

