.header-wrapper {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background: linear-gradient(to right, var(--primary-clr-900) 50%, var(--primary-clr-100) 50%);
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-right: 5px;
}

.nav-links {
    display: flex;
    font-size: 14px;
    font-weight: 100;
    gap: 20px;
    color: var(--primary-clr-900);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-clr-100);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-links li {
    margin: 10px 0;
    text-align: center;
}

.profile-icon.open {
    display: block;
    position: absolute;
    top: 60px;
    /* Position above the nav-links */
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1001;
    /* Ensure it appears above the nav-links */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.open {
        display: flex;
        margin-top: 1rem;
    }

    .menu-toggle {
        display: block;

        & img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
        }
    }

    .icons {
        display: none;
    }

    .profile {
        display: none;
    }

    .profile-icon.open {
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 24px;
        /* Smaller size for the profile icon */
    }
}

@media (min-width: 769px) {
    .profile-icon {
        display: none;
    }
}

.Logo {
    width: 140px;
    height: auto;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    flex: 1;
    margin-left: 5px;

    @media (width< 450px) {
        gap: .2rem;
    }
}

.header-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.header-wrapper a:not(.skip-to-main-content) {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-clr-100);
    display: inline-block;
    position: relative;
    transition: color 0.25s ease;
    text-decoration: none;
}

.nav-links.open a:not(.skip-to-main-content) {
    color: var(--primary-clr-900);
}

.header-wrapper a:not(.skip-to-main-content)::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--accent-clr-300);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out, transform-origin 0s;
}

/* Underline animation when hovering */
.header-wrapper a:hover::after,
.header-wrapper a:focus-visible::after {
    transform: scaleX(1);
    transform-origin: right;
}

.header-wrapper a:hover::after,
.header-wrapper a:focus-visible::after {
    transform-origin: left;
}

.header-wrapper a:where(:hover, :focus-visible) {
    scale: 1.075;
    outline: transparent;
}

/* Style the skip link */
.skip-to-main-content {
    position: absolute;
    top: -3rem;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    z-index: 1000;
    transition: 0.2s ease;
    opacity: 0;
}

.skip-to-main-content:focus-visible {
    top: 0;
    opacity: 1;
}

.skip-to-main-content:focus-visible {
    background-color: var(--accent-clr-200);
    color: var(--primary-clr-900);
    border: 3px solid var(--accent-clr-300);
}


.search-btn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.shopping-bag-container {
    position: relative;
}

.count-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: .65rem;
    font-weight: bold;
    color: white;
}

.cart-count {
    top: -5px;
    right: -5px;
    background-color: var(--secondary-clr-red);
}

.wishlist-count {
    bottom: -2px;
    right: -5px;
    background-color: var(--secondary-clr-purple);
}