.privacyPolicyContainer {
    width: min(90%,78vw);
    margin: 0 auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--accent-clr-200);
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.updatedDate {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.section {
    margin-bottom: 2rem;
}

.section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-clr-900);
    margin-bottom: 0.5rem;
}

.section h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--accent-clr-900);
    margin-block: 0.5rem;
}
.section p{
    margin-bottom: .5rem;
    text-indent: 1ch;
}
.section p,
.section ul {
    font-size: 1rem;
}

.section ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.section li {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .privacyPolicyContainer {
        padding: 1rem;
    }

    .heading {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p,
    ul {
        font-size: 0.95rem;
    }
}