.row {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr));
   gap: 1rem;
   justify-items: center;
}

ul {
    list-style: none;
}

.footer { 
    position: relative;
    background-color: var(--accent-clr-900);
    padding: 4.5rem 0;
}

.footer-col {
    padding: 0 1rem;
}

.footer-col h3 {
    font-size: 1.1rem;
    color: var(--primary-clr-100);
    text-transform: capitalize;
    margin-bottom: 2.2rem;
    font-weight: 500;
    position: relative;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: var(--secondary-clr-red);
    height: 2px;
    box-sizing: border-box;
    width: 3.125rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: .6rem;
}

.footer-col ul li a {
    font-size: 1.05rem;
    text-transform: capitalize;
    color: var(--primary-clr-100);
    text-decoration: none;
    font-weight: 300;
    display: block;
    width: fit-content;
    transition: all 0.3s ease;
    padding: 0 .15rem;
}

.footer-col ul li a:where(:hover, :focus-visible) {
    color: var(--primary-clr-900);
    background-color: var(--accent-clr-100);
    translate: .5rem 0;
    border-radius: .25rem;
    outline: transparent;
}
.footer-col .social-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.footer-col .social-links a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background: hsl(from var(--accent-clr-100) h s l / 0.3);
    margin: 0 .55rem .55rem 0;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    color: var(--primary-clr-100);
    transition: all 0.5s ease;
    & svg{
        margin-top: .4rem;
    }
}

.footer-col .social-links a:where(:hover, :focus-visible) {
    color: var(--accent-clr-900);
    background-color: var(--primary-clr-100);
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--accent-clr-900);
    background-color: var(--accent-clr-100);
    padding-inline: 0.5rem;
    & .copyright-text{
        padding: .35rem 0;
    }
    @media (width < 600px) {
        flex-direction: column;
        gap: 1rem;
    }
    & .origin-link{
        font-weight: 700;
        &:where(:hover, :focus-visible){
            text-decoration: overline underline;
            text-underline-offset: 6px;
        }
    }
}