.terms-container {
    width: min(90%,78vw);
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    background-color: var(--accent-clr-200);
    border-radius: 1rem;
}
.updatedDate {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.terms-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.terms-section {
    margin-bottom: 20px;
}

.terms-section h2 {
    font-size: 1.8rem;
    color: var(--primary-clr-900);
    margin-bottom: 10px;
}

.terms-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--primary-clr-600);
    margin-bottom: .5rem;
    text-indent: 1ch;
}
.terms-section ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.terms-section li {
    margin-bottom: 0.5rem;
}
.terms-section .privacy-link{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: .25s;
    padding: .25rem .15rem;
    &:where(:hover, :focus-visible){
        background-color: var(--accent-clr-900);
        color: var(--accent-clr-100);
    }
}