@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  scroll-padding: 7rem;
  --primary-clr-100: hsl(0, 0%, 100%);
  --primary-clr-200: hsl(0, 0%, 73%);
  --primary-clr-900: hsl(0, 0%, 0%);
  --accent-clr-100: hsl(220, 14%, 96%);
  --accent-clr-200: hsl(223, 9%, 85%);
  --accent-clr-300: hsl(223, 9%, 74%);
  --accent-clr-900: hsl(223, 9%, 15%);
  --secondary-clr-purple: hsl(262, 53%, 50%);
  --secondary-clr-red: hsl(350, 82%, 52%);
  --active-clr: hsl(from var(--secondary-clr-red) h s 35%);
  --selection-bg-clr: hsl(220, 10%, 65%);
}

::selection{
  background-color: var(--selection-bg-clr);
  color: var(--primary-clr-900);
}
html {
  font-family: 'Poppins', sans-serif;
}


/* Custom Scrollbar- Works in  Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-clr-900);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr-100);
  border-radius: 20px;
  border: 3px solid var(--accent-clr-200);
}
*::-webkit-scrollbar-thumb:hover{
  background-color: var(--accent-clr-300);
}

/*Custom Scrollbar- Works in Firefox */
@supports (scrollbar-width: thin) and (not (-webkit-appearance: none)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-clr-100) var(--primary-clr-900);
  }
}

a {
  text-decoration: none;
  color: var(--primary-clr-900);
}

input,textarea{
  caret-color: var(--secondary-clr-purple);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(340px, 100%), 1fr));
  gap: 2rem;
  padding: 1.25rem;
  max-width: 1500px;
  margin-inline: auto;
}
