@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr-100: hsl(0, 0%, 100%);
  --primary-clr-200: hsl(0, 0%, 73%);
  --primary-clr-900: hsl(0, 0%, 0%);
  --accent-clr-100: hsl(220, 14%, 96%);
  --accent-clr-200: hsl(223, 9%, 85%);
  --accent-clr-900: hsl(223, 9%, 15%);
  --secondary-clr-purple: hsl(262, 53%, 50%);
  --secondary-clr-red: hsl(350, 82%, 52%);
}

html {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-clr-900);
}

input,textarea{
  caret-color: var(--secondary-clr-purple);
}