@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-clr-100: hsl(0, 0%, 100%);
  --primary-clr-900: hsl(0, 0%, 0%);
  --accent-clr-100: hsl(220, 14%, 96%);
  --accent-clr-900: hsl(223, 9%, 15%);
  --secondary-clr-purple: hsl(275, 86%, 36%);
}
a{
  text-decoration: none;
  color: var(--primary-clr-900);
}
html {
  font-family: 'Poppins', sans-serif;
}