.container .card {
    display: grid;
    max-width: 100%;
    background: var(--primary-clr-100);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out,
        transform 0.6s ease-out,
        translate .4s, box-shadow .4s;
    box-shadow: 0 4px .5rem 0 hsla(0 0% 0%/ 0.2);
    border-radius: .25rem;
    position: relative;

    &:where(:hover, :focus-within) {
        translate: 0 -3px;
        outline: 1px solid var(--secondary-clr-purple);
        box-shadow: 0 5px .5rem .5rem hsla(0 0% 0% / 0.3);
    }

    @media (width < 752px) {
        justify-content: center;
    }
}

.container .card.visible {
    opacity: 1;
    transform: translateY(0);
}

.container .card .img-container {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;


}

.container .card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.container .card:where(:hover, :focus-visible) .img-container img {
    transform: scale(1.5);
}

.container .card .content {
    padding: .625rem;
}

.container .card .content .productName {
    --_lines-of-text: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--_lines-of-text);
    line-clamp: var(--_lines-of-text);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-weight: 400;
}

.container .card .content .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card .content .price-rating h2 {
    font-size: 1.25rem;
    color: var(--secondary-clr-red);
    font-weight: 500;
}

.container .card .content .price-rating .fa {
    color: hsl(49, 100%, 54%);
    cursor: pointer;
}

.container .card .content .price-rating .fa.grey {
    color: var(--accent-clr-300);
}

.action {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.action li {
    position: relative;
    list-style: none;
    width: 2rem;
    aspect-ratio: 1/1;
    background: var(--secondary-clr-purple);
    color: var(--primary-clr-100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;
    cursor: pointer;
    transition: 0.5s;
}


.action li:not(:hover):nth-child(2) {
    transition-delay: 0.15s;
}

.action li:not(:hover):nth-child(3) {
    transition-delay: 0.3s;
}

.card:where(:hover, :focus-within) .action li {
    transform: translateX(-10px);
}

.action li.active {
    background-color: var(--active-clr);
}

.action li.active i {
    color: var(--primary-clr-100);
}

.action li:is(:hover, :focus-visible) {
    background: var(--secondary-clr-red);
    color: var(--primary-clr-100);
    outline: transparent;
}

.action li span {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: var(--accent-clr-200);
    color: var(--accent-clr-900);
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.action li:where(:hover, :focus-visible) span {
    transform: translateY(-50%) translateX(10px);
    opacity: 1;
}

.action li span::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -4px;
    width: .5rem;
    height: .5rem;
    background: var(--primary-clr-100);
    transform: translateY(-50%) rotate(45deg);
}

.product-labels {
    position: absolute;
    top: .5rem;
    left: .5rem;
    display: flex;
    align-items: start;
    gap: 5px;
    z-index: 2;
}

.product-label {
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}